<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Medim - Responsive Medical & Health Template</title>
    <!-- Favicons-->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/apple-touch-icon-32x32.png" />
    <link rel="shortcut icon" type="image/x-icon" sizes="72x72" href="assets/images/apple-touch-icon-72x72.png" />

    <!-- web fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CRoboto:400,500" rel="stylesheet" />

    <!-- plugins css -->
    <link rel="stylesheet" href="assets/css/plugins.css" />
    <!-- style css -->
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <!-- Start Preloader -->
    <div className="preloader">
      <div className="preloader-inner">
        <div className="loader-content">
          <span className="icon-section-wave d-inline-block text-active  mt-3 "></span>
        </div>
      </div>
    </div>

    <div className="preloader">
      <div className="preloader-inner">
        <div className="loader-content">
          <span className="icon-section-wave d-inline-block text-active  mt-3 "></span>
        </div>
      </div>
    </div>
    <header className="bg-white">
      <!-- Start Toolbar Section -->
      <div className="toolbar">
        <div className="container">
          <div className="row">
            <div className="col-md-4">
              <a href="index.html" className="logo">
                <img src="assets/images/logo.png" alt="" />
              </a>
            </div>
            <div className="col-md-8 d-none d-md-block">
              <div className="toolbar-right text-right">
                <div className="media align-items-center d-inline-flex">
                  <div className="tolbar-icon text-active s-dp-1-3 justify-content-center  rounded-circle">
                    <i className="icofont-envelope"></i>
                  </div>
                  <div className="media-body">
                    <a href="#" className="text-default text-Underline">mail@medim.com</a>
                  </div>
                </div>
                <div className="media align-items-center d-inline-flex">
                  <div className="tolbar-icon text-active s-dp-1-3 justify-content-center  rounded-circle">
                    <i className="icofont-ui-call"></i>
                  </div>
                  <div className="media-body">
                    <a href="#" className="text-default">+0123 456 789</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Start Toolbar Section -->

      <!-- Start Navigation Section -->
      <nav className="navbar grad-bg--2 s-dp-1-3 navbar-sticky navbar-expand-lg m-navbar bcbd_navbar">
        <div className="container position-relative">
          <a href="index.html" className="menu-logo">
            <img src="assets/images/logo.png" alt="" />
          </a>
          <div className="burger_menu">
            <span className="navbar-toggler-icon"></span>
          </div>
          <!-- burger menu -->

          <div className="collapse navbar-collapse bcbd_collpase_nav" id="navbarSupportedContent">
            <div className="nav_outer  mr-auto">
              <ul className="navbar-nav bcbd_nav mr-auto">
                <li className="nav-item active hs_dropdown">
                  <a className="nav-link" href="#">Home </a>
                  <ul className="bcbd_dropdown">
                    <li>
                      <a href="index.html"> Home-1 </a>
                    </li>
                    <li>
                      <a href="index-2.html"> Home-2 </a>
                    </li>
                    <li>
                      <a href="index-3.html"> Home-3 </a>
                    </li>
                    <li>
                      <a href="index-4.html"> Home-4 </a>
                    </li>
                  </ul>
                </li>
                <li className="nav-item hs_dropdown">
                  <a className="nav-link" href="about-1.html"> About </a>
                  <ul className="bcbd_dropdown">
                    <li>
                      <a href="about-1.html"> About-1 </a>
                    </li>
                    <li>
                      <a href="about-2.html"> About-2 </a>
                    </li>
                  </ul>
                </li>
                <li className="nav-item hs_dropdown">
                  <a className="nav-link" href="#"> Services </a>
                  <ul className="bcbd_dropdown">
                    <li>
                      <a href="service-1.html"> Service-1 </a>
                    </li>
                    <li>
                      <a href="service-2.html"> Service-2 </a>
                    </li>
                    <li>
                      <a href="service-single.html"> Service-Single </a>
                    </li>
                  </ul>
                </li>
                <li className="nav-item hs_dropdown">
                  <a className="nav-link" href="#"> Page </a>
                  <div className="mega-menu s-10-80">
                    <ul className="grd-4">
                      <li className="nav-item  hs_dropdown">
                        <h6 className="nav-link mb-0">Pages</h6>
                        <ul className="bcbd_dropdown">
                          <li>
                            <a href="faq.html"> Faq </a>
                          </li>
                          <li>
                            <a href="coming-soon.html"> Comming Soon </a>
                          </li>
                          <li>
                            <a href="about-1.html"> About-1 </a>
                          </li>
                          <li>
                            <a href="about-2.html"> About-2 </a>
                          </li>
                        </ul>
                      </li>
                      <li className="nav-item  hs_dropdown">
                        <h6 className="nav-link mb-0">Pages</h6>
                        <ul className="bcbd_dropdown">
                          <li>
                            <a href="department-1.html"> Department-1 </a>
                          </li>
                          <li>
                            <a href="department-2.html"> Department-2 </a>
                          </li>
                          <li>
                            <a href="appointment.html"> Appointment </a>
                          </li>
                          <li>
                            <a href="timetable.html"> Timetable </a>
                          </li>
                        </ul>
                      </li>
                      <li className="nav-item  hs_dropdown">
                        <h6 className="nav-link mb-0">Pages</h6>
                        <ul className="bcbd_dropdown">
                          <li>
                            <a href="doctors.html"> Doctors </a>
                          </li>
                          <li>
                            <a href="doctor-single.html"> Doctor-Single </a>
                          </li>
                          <li>
                            <a href="error-page.html"> Error </a>
                          </li>
                          <li>
                            <a href="testimonials.html"> Testimonial </a>
                          </li>
                        </ul>
                      </li>
                      <li className="nav-item  hs_dropdown">
                        <h6 className="nav-link mb-0">Pages</h6>
                        <ul className="bcbd_dropdown">
                          <li>
                            <a href="gallery-4-column.html"> Gallery-4 Column </a>
                          </li>
                          <li>
                            <a href="gallery-2-column.html"> Gallery Masonary </a>
                          </li>
                          <li>
                            <a href="gallery-3-column.html"> Gallery Trending </a>
                          </li>
                          <li>
                            <a href="pricing-plan.html"> Pricing Plan </a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </li>
                <li className="nav-item hs_dropdown">
                  <a className="nav-link" href="#"> Blog </a>
                  <ul className="bcbd_dropdown">
                    <li>
                      <a href="blog-grid-1.html"> Blog Grid </a>
                    </li>
                    <li>
                      <a href="blog-list-without-sidebar.html"> Blog List </a>
                    </li>
                    <li>
                      <a href="blog-single-sidebar.html"> Blog list Sidebar </a>
                    </li>
                    <li>
                      <a href="blog-grid-style-2.html"> BLog Grid Style -2 </a>
                    </li>
                    <li>
                      <a href="blog-single-sidebar.html"> Blog Single Sidebar </a>
                    </li>
                    <li>
                      <a href="blog-single-without-sidebar.html"> Blog single widthout Sidebar </a>
                    </li>
                  </ul>
                </li>
                <li className="nav-item">
                  <a className="nav-link" href="contact.html"> Contact </a>
                </li>
              </ul>
              <!-- navbar nav -->
              <div className="navigation_right_area position-relative navbar-search my-lg-0">
                <form className="form-inline my-2 my-lg-0 d-block d-lg-none">
                  <input className="form-control " type="search" placeholder="Search" aria-label="Search" />
                  <button className="btn bg-transparent position-absolute my-sm-0" type="submit">
                    <i className="icofont-search-2"></i>
                  </button>
                </form>
              </div>
              <!-- navbar search -->
              <div className="toolbar-right mobile-view text-left d-block d-md-none">
                <div className="media align-items-center d-inline-flex">
                  <div className="tolbar-icon text-active s-dp-1-3 justify-content-center  rounded-circle">
                    <i className="icofont-envelope"></i>
                  </div>
                  <div className="media-body">
                    <a href="#" className="text-default text-Underline">mail@medim.com</a>
                  </div>
                </div>
                <div className="media align-items-center d-inline-flex">
                  <div className="tolbar-icon text-active s-dp-1-3 justify-content-center  rounded-circle">
                    <i className="icofont-ui-call"></i>
                  </div>
                  <div className="media-body">
                    <a href="#" className="text-default">+0123 456 789</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- navbar outer -->
            <div className="navigation_right_area position-relative navbar-search my-lg-0">
              <form className="form-inline my-2 my-lg-0">
                <input className="form-control " type="search" placeholder="Search" aria-label="Search" />
                <button className="btn bg-transparent  my-sm-0" type="submit">
                  <i className="icofont-search-2"></i>
                </button>
              </form>
            </div>
            <!-- navbar search -->
          </div>
          <!-- navbar collpase -->
        </div>
        <!-- container -->
      </nav>
      <!-- Start Navigation Section -->
    </header>

    <!-- Start Banner Section -->
    <div className="grad-bg--2 banenr position-relative type-1 no-overflows">
      <div className="circle"></div>
      <div className="circle2"></div>
      <div className="circle3"></div>
      <div className="circle4"></div>
      <div className="container position-relative">
        <img src="assets/images/banner-img.png" className="banner-image position-absolute" alt="banenr image" />
        <div className="row">
          <div className="col-md-12">
            <div className="banenr-slider">
              <div className="single-banenr-slide">
                <div className="row">
                  <div className="col-xl-5 col-sm-8 col-md-6">
                    <h6 className="ml12 text-white text-uppercase fadeInDown-slide animated">we care about youR HEALTH</h6>
                    <h1 className="text-white font-weight-bold mb-4 fadeInDown-slide animated">WE ARE MEDIM</h1>
                    <p className="text-white fadeInDown-slide animated">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
                      parturient montes, nascetur ridiculus mus.
                    </p>
                    <div className="xs-flex">
                      <a
                        href="about-1.html"
                        className="btn fadeInDown-slide animated  medim-btn btn-bordered-white mt-4 text-medium radius-pill bg-transparent text-active text-uppercase text-white"
                      >
                        About Us
                      </a>
                      <a
                        href="appointment.html"
                        className="btn fadeInDown-slide animated no-border bg-transparent medim-btn grad-bg--3 solid-btn mt-4 text-medium radius-pill text-active text-uppercase text-white"
                      >
                        Appoinment
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- single-banenr-slide -->
            </div>
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </div>
    <!-- Banenr Section -->
    <!-- Start Banner Section -->

    <!-- Start About Section -->
    <section className="m-pt-140 m-pb-70 about-area type-1 position-relative">
      <div className="container">
        <div className="row">
          <div className="col-lg-4 col-md-4 xs-mb-20">
            <h2 className="text-dark mb-0 semi-bold pb-5">
              Who
              <br />
              We Are
            </h2>
            <p className="mb-4">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
              montes, nascetur ridiculus mus.
            </p>
            <a
              href="contact.html"
              className="btn fadeInDown-slide animated no-border bg-transparent medim-btn grad-bg--3 solid-btn mt-4 text-medium radius-pill text-active text-uppercase text-white"
            >
              Contact us
            </a>
          </div>
          <!-- col -->
          <div className="col-lg-7 offset-lg-1 col-md-8">
            <div className="row">
              <div className="col-sm-6">
                <div className="m-mb-60 features-wraper">
                  <div className="features-circle mb-3 m-bg-3 text-active d-inline-flex align-items-center justify-content-center rounded-circle">
                    <i className="icofont-first-aid"></i>
                  </div>
                  <h4 className="m-text-2 mb-3 mt-2">Medical Treatment</h4>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </div>
              </div>
              <!-- col -->
              <div className="col-sm-6">
                <div className="m-mb-60 features-wraper">
                  <div className="features-circle mb-3 m-bg-3 text-active d-inline-flex align-items-center justify-content-center rounded-circle">
                    <i className="icofont-doctor"></i>
                  </div>
                  <h4 className="m-text-2 mb-3 mt-2">Qualified Doctors</h4>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </div>
              </div>
              <!-- col -->
              <div className="col-sm-6">
                <div className="m-mb-60 features-wraper">
                  <div className="features-circle mb-3 m-bg-3 text-active d-inline-flex align-items-center justify-content-center rounded-circle">
                    <i className="icofont-clock-time"></i>
                  </div>
                  <h4 className="m-text-2 mb-3 mt-2">24 Hours Service</h4>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </div>
              </div>
              <!-- col -->
              <div className="col-sm-6">
                <div className="m-mb-60 features-wraper">
                  <div className="features-circle mb-3 m-bg-3 text-active d-inline-flex align-items-center justify-content-center rounded-circle">
                    <i className="icofont-ambulance-cross"></i>
                  </div>
                  <h4 className="m-text-2 mb-3 mt-2">Emergency Services</h4>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </div>
              </div>
              <!-- col -->
            </div>
          </div>
          <!-- Banenr Section -->
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </section>
    <!-- About Section -->
    <!-- Start About Section -->

    <!-- Start Department Section -->
    <section className="m-bg-1 intro-area type-1 position-relative">
      <div className="intro-overlay position-absolute set-bg" data-bg="assets/images/intro-bg.jpg"></div>
      <div className="overlay"></div>
      <div className="container">
        <div className="row">
          <div className="col-md-4">
            <div className="department-tab-pill m-pt-140  m-pb-140 position-relative ">
              <h2 className="text-white pb-md-5">
                Our
                <br />
                Departments
              </h2>
              <div className="nav  pt-md-0 flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a className="nav-link active" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                  <i className="icofont-heart-beat-alt"></i>
                  <span> Cardiology </span>
                </a>
                <a className="nav-link" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                  <i className="icofont-dna-alt-1"></i>
                  <span> Neurology </span>
                </a>
                <a className="nav-link" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                  <i className="icofont-tooth"></i>
                  <span> Dental </span>
                </a>
                <a className="nav-link" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                  <i className="icofont-laboratory"></i>
                  <span> Diagnostic </span>
                </a>
                <a className="nav-link" data-toggle="pill" href="#eye-care" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                  <i className="icofont-laboratory"></i>
                  <span> Eyecare </span>
                </a>
              </div>
            </div>
          </div>
          <div className="col-md-8">
            <div className="tab-content m-pt-140 m-pb-140 ">
              <div className="tab-pane fade show active" id="v-pills-home" role="tabpanel">
                <h4 className="m-text-2 ">Department of Cardiology</h4>
                <h6 className="text-light-dark ff-roboto pb-40 mb-0">We are the Best in Cardiology</h6>
                <p className="m-mb-30">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                  montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                </p>
                <p>Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
                <div className="row">
                  <div className="col-md-6">
                    <div className="media mt-4 mb-2">
                      <div className="text-active">
                        <i className="icofont-first-aid"></i>
                      </div>
                      <div className="media-body ml-3">
                        <h5 className="mt-0 mb-3 text-dark2">Cardiology Service - 01</h5>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                      </div>
                    </div>
                  </div>
                  <div className="col-md-6">
                    <div className="media mt-4 mb-2">
                      <div className="text-active">
                        <i className="icofont-capsule"></i>
                      </div>
                      <div className="media-body ml-3">
                        <h5 className="mt-0 mb-3 text-dark2">Cardiology Service - 02</h5>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <a
                  href="department-1.html"
                  className="btn fadeInDown-slide animated no-border bg-transparent medim-btn grad-bg--3 solid-btn mt-3 text-medium radius-pill text-active text-uppercase text-white"
                >
                  View more
                </a>
              </div>
              <div className="tab-pane fade" id="v-pills-profile" role="tabpanel">
                <h4 className="m-text-2 ">Department of Neurology</h4>
                <h6 className="text-light-dark ff-roboto pb-40 mb-0">We are the Best in Neurology</h6>
                <p className="m-mb-30">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                  montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                </p>
                <p>Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
                <div className="row">
                  <div className="col-md-6">
                    <div className="media mt-4 mb-2">
                      <div className="text-active">
                        <i className="icofont-first-aid"></i>
                      </div>
                      <div className="media-body ml-3">
                        <h5 className="mt-0 mb-3 text-dark2">Neurology Service - 01</h5>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                      </div>
                    </div>
                  </div>
                  <div className="col-md-6">
                    <div className="media mt-4 mb-2">
                      <div className="text-active">
                        <i className="icofont-capsule"></i>
                      </div>
                      <div className="media-body ml-3">
                        <h5 className="mt-0 mb-3 text-dark2">Neurology Service - 02</h5>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <a
                  href="department-2.html"
                  className="btn fadeInDown-slide animated no-border bg-transparent medim-btn grad-bg--3 solid-btn mt-3 text-medium radius-pill text-active text-uppercase text-white"
                >
                  View more
                </a>
              </div>
              <div className="tab-pane fade" id="v-pills-messages" role="tabpanel">
                <h4 className="m-text-2 ">Department of Dental</h4>
                <h6 className="text-light-dark ff-roboto pb-40 mb-0">We are the Best in Dental</h6>
                <p className="m-mb-30">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                  montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                </p>
                <p>Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
                <div className="row">
                  <div className="col-md-6">
                    <div className="media mt-4 mb-2">
                      <div className="text-active">
                        <i className="icofont-first-aid"></i>
                      </div>
                      <div className="media-body ml-3">
                        <h5 className="mt-0 mb-3 text-dark2">Dental Service - 01</h5>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                      </div>
                    </div>
                  </div>
                  <div className="col-md-6">
                    <div className="media mt-4 mb-2">
                      <div className="text-active">
                        <i className="icofont-capsule"></i>
                      </div>
                      <div className="media-body ml-3">
                        <h5 className="mt-0 mb-3 text-dark2">Dental Service - 02</h5>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <a
                  href="department-1.html"
                  className="btn fadeInDown-slide animated no-border bg-transparent medim-btn grad-bg--3 solid-btn mt-3 text-medium radius-pill text-active text-uppercase text-white"
                >
                  View more
                </a>
              </div>
              <div className="tab-pane fade" id="v-pills-settings" role="tabpanel">
                <h4 className="m-text-2 ">Department of Diagnostic</h4>
                <h6 className="text-light-dark ff-roboto pb-40 mb-0">We are the Best in Diagnostic</h6>
                <p className="m-mb-30">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                  montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                </p>
                <p>Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
                <div className="row">
                  <div className="col-md-6">
                    <div className="media mt-4 mb-2">
                      <div className="text-active">
                        <i className="icofont-first-aid"></i>
                      </div>
                      <div className="media-body ml-3">
                        <h5 className="mt-0 mb-3 text-dark2">Diagnostic Service - 01</h5>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                      </div>
                    </div>
                  </div>
                  <div className="col-md-6">
                    <div className="media mt-4 mb-2">
                      <div className="text-active">
                        <i className="icofont-capsule"></i>
                      </div>
                      <div className="media-body ml-3">
                        <h5 className="mt-0 mb-3 text-dark2">Diagnostic Service - 02</h5>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <a
                  href="department-2.html"
                  className="btn fadeInDown-slide animated no-border bg-transparent medim-btn grad-bg--3 solid-btn mt-3 text-medium radius-pill text-active text-uppercase text-white"
                >
                  View more
                </a>
              </div>
              <div className="tab-pane fade" id="eye-care" role="tabpanel">
                <h4 className="m-text-2 ">Department of Eyecare</h4>
                <h6 className="text-light-dark ff-roboto pb-40 mb-0">We are the Best in Eyecare</h6>
                <p className="m-mb-30">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                  montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                </p>
                <p>Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
                <div className="row">
                  <div className="col-md-6">
                    <div className="media mt-4 mb-2">
                      <div className="text-active">
                        <i className="icofont-first-aid"></i>
                      </div>
                      <div className="media-body ml-3">
                        <h5 className="mt-0 mb-3 text-dark2">Eyecare Service - 01</h5>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                      </div>
                    </div>
                  </div>
                  <div className="col-md-6">
                    <div className="media mt-4 mb-2">
                      <div className="text-active">
                        <i className="icofont-first-aid"></i>
                      </div>
                      <div className="media-body ml-3">
                        <h5 className="mt-0 mb-3 text-dark2">Eyecare Service - 02</h5>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <a
                  href="department-1.html"
                  className="btn fadeInDown-slide animated no-border bg-transparent medim-btn grad-bg--3 solid-btn mt-3 text-medium radius-pill text-active text-uppercase text-white"
                >
                  View more
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Start Department Section -->

    <!-- Start Section -->
    <section className=" m-pb-140 m-pt-135 ">
      <div className="container">
        <div className="row">
          <div className="col-md-6 offset-md-3">
            <div className="text-center pb-75">
              <p className="m-0  text-uppercase text-light-dark lt-space">Here is medim specialist doctors</p>
              <h2 className="m-0  text-dark">Medim Doctors</h2>

              <span className="icon-section-wave d-inline-block text-active section-wave mt-3"></span>
            </div>
          </div>
        </div>
        <div className="row">
          <div className="col-md-12">
            <div className="doctors-slider">
              <div className="signle-doctor-slide position-relative">
                <img src="assets/images/doctor-img1.jpg" alt="" />
                <div className="doctors-info top-radius-pill bg-white text-center position-absolute pt-35 pb-35 full-width">
                  <a href="doctor-single.html" className="more-btn d-inline-flex  align-items-center justify-content-center bg-white rounded-circle position-absolute">
                    <i className="fas fa-long-arrow-alt-right"></i>
                  </a>
                  <div className="social-icon position-absolute">
                    <a href="#" className="text-active">
                      <i className="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" className="text-active">
                      <i className="fab fa-twitter"></i>
                    </a>
                    <a href="#" className="text-active">
                      <i className="fab fa-pinterest-p"></i>
                    </a>
                  </div>
                  <h5 className="text-dark2 m-0 semi-bold">Dr. Rojana Rossy</h5>
                  <p className=" m-0 fz-poppins">Cardiologist</p>
                </div>
              </div>
              <!-- signle-doctor-slide -->
              <div className="signle-doctor-slide position-relative">
                <img src="assets/images/doctor-img2.jpg" alt="" />
                <div className="doctors-info top-radius-pill bg-white text-center position-absolute pt-35 pb-35 full-width">
                  <a href="doctor-single.html" className="more-btn d-inline-flex  align-items-center justify-content-center bg-white rounded-circle position-absolute">
                    <i className="fas fa-long-arrow-alt-right"></i>
                  </a>
                  <div className="social-icon position-absolute">
                    <a href="#" className="text-active">
                      <i className="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" className="text-active">
                      <i className="fab fa-twitter"></i>
                    </a>
                    <a href="#" className="text-active">
                      <i className="fab fa-pinterest-p"></i>
                    </a>
                  </div>
                  <h5 className="text-dark2 m-0 semi-bold">Dr. Jonathon Doe</h5>
                  <p className=" m-0 fz-poppins">Cardiologist</p>
                </div>
              </div>
              <!-- signle-doctor-slide -->
              <div className="signle-doctor-slide position-relative">
                <img src="assets/images/doctor-img5.jpg" alt="" />
                <div className="doctors-info top-radius-pill bg-white text-center position-absolute pt-35 pb-35 full-width">
                  <a
                    href="doctor-single.html
                                "
                    className="more-btn d-inline-flex  align-items-center justify-content-center bg-white rounded-circle position-absolute"
                  >
                    <i className="fas fa-long-arrow-alt-right"></i>
                  </a>
                  <div className="social-icon position-absolute">
                    <a href="#" className="text-active">
                      <i className="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" className="text-active">
                      <i className="fab fa-twitter"></i>
                    </a>
                    <a href="#" className="text-active">
                      <i className="fab fa-pinterest-p"></i>
                    </a>
                  </div>
                  <h5 className="text-dark2 m-0 semi-bold">Dr. Katrina Katy</h5>
                  <p className=" m-0 fz-poppins">Cardiologist</p>
                </div>
              </div>
              <!-- signle-doctor-slide -->
              <div className="signle-doctor-slide position-relative">
                <img src="assets/images/doctor-img6.jpg" alt="" />
                <div className="doctors-info top-radius-pill bg-white text-center position-absolute pt-35 pb-35 full-width">
                  <a href="doctor-single.html" className="more-btn d-inline-flex  align-items-center justify-content-center bg-white rounded-circle position-absolute">
                    <i className="fas fa-long-arrow-alt-right"></i>
                  </a>
                  <div className="social-icon position-absolute">
                    <a href="#" className="text-active">
                      <i className="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" className="text-active">
                      <i className="fab fa-twitter"></i>
                    </a>
                    <a href="#" className="text-active">
                      <i className="fab fa-pinterest-p"></i>
                    </a>
                  </div>
                  <h5 className="text-dark2 m-0 semi-bold">Dr. Raino helsy</h5>
                  <p className=" m-0 fz-poppins">Cardiologist</p>
                </div>
              </div>
              <!-- signle-doctor-slide -->
              <div className="signle-doctor-slide position-relative">
                <img src="assets/images/doctor-img3.jpg" alt="" />
                <div className="doctors-info top-radius-pill bg-white text-center position-absolute pt-35 pb-35 full-width">
                  <a href="doctor-single.html" className="more-btn d-inline-flex  align-items-center justify-content-center bg-white rounded-circle position-absolute">
                    <i className="fas fa-long-arrow-alt-right"></i>
                  </a>
                  <div className="social-icon position-absolute">
                    <a href="#" className="text-active">
                      <i className="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" className="text-active">
                      <i className="fab fa-twitter"></i>
                    </a>
                    <a href="#" className="text-active">
                      <i className="fab fa-pinterest-p"></i>
                    </a>
                  </div>
                  <h5 className="text-dark2 m-0 semi-bold">Dr. Rey Rossy</h5>
                  <p className=" m-0 fz-poppins">Cardiologist</p>
                </div>
              </div>
              <!-- signle-doctor-slide -->
              <div className="signle-doctor-slide position-relative">
                <img src="assets/images/doctor-img4.jpg" alt="" />
                <div className="doctors-info top-radius-pill bg-white text-center position-absolute pt-35 pb-35 full-width">
                  <a href="doctor-single.html" className="more-btn d-inline-flex  align-items-center justify-content-center bg-white rounded-circle position-absolute">
                    <i className="fas fa-long-arrow-alt-right"></i>
                  </a>
                  <div className="social-icon position-absolute">
                    <a href="#" className="text-active">
                      <i className="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" className="text-active">
                      <i className="fab fa-twitter"></i>
                    </a>
                    <a href="#" className="text-active">
                      <i className="fab fa-pinterest-p"></i>
                    </a>
                  </div>
                  <h5 className="text-dark2 m-0 semi-bold">Dr. Jonathon Jos</h5>
                  <p className=" m-0 fz-poppins">Cardiologist</p>
                </div>
              </div>
              <!-- signle-doctor-slide -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Section -->

    <!-- Start About Section -->
    <section className="m-pt-135  position-relative set-bg" data-bg="assets/images/bg-img1.jpg">
      <div className="overlay op-P9"></div>
      <div className="container">
        <div className="row">
          <div className="col-md-8 offset-md-2">
            <div className="text-center pb-75">
              <p className="m-0 text-white  text-uppercase  lt-space">Book an appointment for a consultation</p>
              <h2 className="m-0  text-white ">Book Appointment</h2>
              <span className="icon-section-wave d-inline-block text-white section-wave mt-3"></span>
            </div>
          </div>
        </div>
        <div className="row">
          <div className="col-md-12 perspective--400">
            <div className="appoint-card radius-20 bg-white  position-relative m-pt-70 m-pb-70 s-10-80">
              <img src="assets/images/doctor-img.png" alt="" />
              <form action="#">
                <div className="row">
                  <div className="col-lg-7 offset-lg-5  col-md-9 offset-md-3">
                    <div className="row">
                      <div className="col-md-6">
                        <input type="text" className="form-control m-mb-20" placeholder="Your Name:" />
                      </div>
                      <div className="col-md-6">
                        <input type="text" className="form-control m-mb-20" placeholder="Your Phone:" />
                      </div>
                      <div className="col-md-6">
                        <input type="text" className="form-control m-mb-20" placeholder="Your Mail:" />
                      </div>
                      <div className="col-md-6">
                        <div className="position-relative m-mb-20">
                          <label className="position-absolute m-label">
                            <i className="icofont-calendar"></i>
                          </label>
                          <input type="text" placeholder="Date:" className="form-control datepicker " />
                        </div>
                      </div>
                      <div className="col-md-6">
                        <div className="position-relative m-mb-20">
                          <label className="position-absolute m-label">
                            <i className="icofont-first-aid"></i>
                          </label>
                          <select className="js-example-basic-single" name="state">
                            <option value="">Select Department:</option>
                            <option value="Department1">Cardiology</option>
                            <option value="Department1">Neurology</option>
                            <option value="Department1">Diagnostic</option>
                          </select>
                        </div>
                      </div>
                      <div className="col-md-6">
                        <div className="position-relative m-mb-20">
                          <label className="position-absolute m-label">
                            <i className="icofont-stethoscope-alt"></i>
                          </label>
                          <select className="js-example-basic-single" name="state">
                            <option value="">Select Doctors:</option>
                            <option value="Department1">Dr. Rojana Rossy</option>
                            <option value="Department1">Dr. Jonathon Jos</option>
                            <option value="Department1">Dr. Katrina Katy</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div className="row">
                      <div className="col-md-6">
                        <p className="pt-2">Please Call Us: <a href="#" className="text-active d-inline-block pl-3 fz-poppins">+1234 567 890</a></p>
                      </div>
                      <div className="col-md-6">
                        <a
                          href="appointment.html"
                          className="btn fadeInDown-slide animated no-border bg-transparent medim-btn grad-bg--3 solid-btn text-medium radius-pill  text-uppercase text-white"
                        >
                          make appointment
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <!-- appoint-card -->
          </div>
        </div>
      </div>
    </section>
    <!-- Start About Section -->

    <!-- Start recent post Section -->
    <section className="m-bg-1 m-pt-275 m-pb-140 recent-post-area type-1">
      <div className="container">
        <div className="row">
          <div className="col-md-6 offset-md-3">
            <div className="text-center pb-75 ">
              <p className="m-0  text-uppercase text-light-dark lt-space">Here is medim specialist doctors</p>
              <h2 className="m-0  text-dark">Recent Posts</h2>
              <span className="icon-section-wave d-inline-block text-active section-wave mt-3"></span>
            </div>
          </div>
        </div>
        <div className="row">
          <div className="col-md-6">
            <div className="media align-items-center recent-post-wraper type-1">
              <a href="blog-single-sidebar.html" className="mr-0">
                <img className=" lt-radius-25 lb-radius-25" src="assets/images/recent-post-sm-img1.jpg" alt="Generic placeholder image" />
              </a>
              <div className="media-body h-dp-10-60 bg-white type1-post pt-40 pb-40 rt-radius-25 rb-radius-25 pr-50 pl-25 s-dp-1-3">
                <div className="post-meta">
                  <p className="fz-14 text-default mb-1">
                    <a href="blog-single-sidebar.html" className="text-default">16 Jan, 2019</a> | <a href="#" className="text-default">Medical</a>,
                    <a href="#" className="text-default">Health</a>
                  </p>
                </div>
                <a href="blog-single-sidebar.html">
                  <h5 className="mt-0 text-dark2 text-medium">Few information about medical treatment</h5>
                </a>
                <p className="mb-0 pt-2 text-default">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
              </div>
            </div>
          </div>
          <div className="col-md-6">
            <div className="media align-items-center recent-post-wraper type-1">
              <a href="blog-single-sidebar.html" className="mr-0">
                <img className=" lt-radius-25 lb-radius-25" src="assets/images/recent-post-sm-img2.jpg" alt="Generic placeholder image" />
              </a>
              <div className="media-body h-dp-10-60 bg-white type1-post pt-40 pb-40 rt-radius-25 rb-radius-25 pr-50 pl-25 s-dp-1-3">
                <div className="post-meta">
                  <p className="fz-14 text-default mb-1">
                    <a href="#" className="text-default">18 Jan, 2019</a> | <a href="#" className="text-default">Medical</a>, <a href="#" className="text-default">Health</a>
                  </p>
                </div>
                <a href="blog-single-sidebar.html">
                  <h5 className="mt-0 text-dark2 text-medium">Aenean vulputate ele an leo ligula</h5>
                </a>
                <p className="mb-0 pt-2 text-default">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End recent post Section -->

    <!-- Start footer -->
    <footer className="m-pt-140">
      <div className="container">
        <div className="row">
          <div className="col-lg-3 col-sm-6 ">
            <div className="footer-widget">
              <div className="logo">
                <a href="index.html" className="d-inline-block mb-5">
                  <img src="assets/images/logo.png" alt="" />
                </a>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
              <div className="media text-light-dark mb-3">
                <i className="icofont-ui-touch-phone mr-2 mt-2 "></i>
                <div className="media-body">
                  <p className="m-0  fz-poppins">+(1234) 456 7890</p>
                  <p className="m-0  fz-poppins">mail@medim.com</p>
                </div>
              </div>
              <div className="media text-light-dark">
                <i className="icofont-location-pin mr-2 mt-2 text-light-dark"></i>
                <div className="media-body">
                  <p className="m-0  fz-poppins">1234 North Luke Lane,</p>
                  <p className="m-0  fz-poppins">South Bend, IN 360001</p>
                </div>
              </div>
            </div>
          </div>
          <div className="col-lg-3 col-sm-6">
            <div className="footer-widget pl-3">
              <h5 className="text-dark footer-widget-title">Our Department</h5>
              <ul>
                <li>
                  <a href="#">
                    <i className="icofont-caret-right"></i>
                    Neurology
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i className="icofont-caret-right"></i>
                    Diagnistics
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i className="icofont-caret-right"></i>
                    Dental
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i className="icofont-caret-right"></i>
                    Opthamology
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i className="icofont-caret-right"></i>
                    Emergency
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i className="icofont-caret-right"></i>
                    Cardilogy
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div className="col-lg-3 col-sm-6">
            <div className="footer-widget">
              <h5 className="text-dark footer-widget-title">Important Links</h5>
              <ul>
                <li>
                  <a href="#">
                    <i className="icofont-caret-right"></i>
                    About Us
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i className="icofont-caret-right"></i>
                    Make Appointment
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i className="icofont-caret-right"></i>
                    Our Services
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i className="icofont-caret-right"></i>
                    Recent Post
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i className="icofont-caret-right"></i>
                    Heart Surgery
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i className="icofont-caret-right"></i>
                    Contact Us
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i className="icofont-caret-right"></i>
                    Privacy Policy
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div className="col-lg-3 col-sm-6">
            <div className="footer-widget">
              <h5 className="text-dark footer-widget-title">Newsletter</h5>
              <p>Lorem ipsum dolor sit amet, conse ctetu Aenean commodo .</p>
              <div className="input-group  d-flex align-items-center">
                <input type="text" className="form-control" placeholder="Enter mail" aria-label="Enter mail" aria-describedby="button-addon2" />
                <div className="input-group-append">
                  <button className="btn" type="button" id="button-addon2">
                    <i className="icofont-paper-plane"></i>
                  </button>
                </div>
              </div>
              <div className="social-icon circle-link position-relative">
                <a href="#" className="text-default rounded-circle s-dp-1-3-15">
                  <i className="icofont-facebook"></i>
                </a>
                <a href="#" className="text-default rounded-circle s-dp-1-3-15">
                  <i className="icofont-twitter"></i>
                </a>
                <a href="#" className="text-default rounded-circle s-dp-1-3-15">
                  <i className="icofont-instagram"></i>
                </a>
                <a href="#" className="text-default rounded-circle s-dp-1-3-15">
                  <i className="icofont-pinterest"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div className="footer-bottom text-center m-mt-120 m-bg-1 pt-4 pb-4">
        <div className="container">
          <div className="row">
            <div className="col-md-12">
              <p className="mb-1 mt-1">&copy; 2019. All Rights Reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- End footer -->

    <!-- Start scroll-top  Section -->
    <div className="scroll-top">
      <i className="icofont-rounded-up"></i>
    </div>
    <!-- End  scroll-top Section -->

    <!-- js file -->
    <script src="assets/js/jquery-2.2.4.min.js"></script>
    <!-- plugins js -->
    <script src="assets/js/plugins.js"></script>
    <!-- main js -->
    <script src="assets/js/main.js"></script>
  </body>
</html>
